@import './variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $backgroundGarnetColor;
}

.wrapper{
  max-width: 1200px;
}

section{
  border-radius: 20px;
  background-color: $backgroundSection;
}

button{
  cursor: pointer;
}
