@import '../../variables.scss';

main{
  width: 100%;
  height: 100%;
  .wrapper-main{
    position: relative;
    margin: 0 auto;
    // top game
    .sale{
      width: 100%;
      margin: 20px 0;
      width: 100%;
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;


      // &-container{

        .sale-wrapper{
          // border-radius: 20px;
          overflow: hidden;
          img{
            border-radius: 10px;
          }
          .nav-screan{
            width: 50%;
            height: 20px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            span{
              width: 74px;
              height: 8px;
              display: inline;
              border-radius: 20px;
              background-color: silver;
            }
          }
        // }
        

      }
      .screenshot{
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .screen{
          width: 200px;
          height: 110px;
          background-color: silver;
          border-radius: 10px;
        }
        button{
          height: 60px;
        }
      }
    }
    // section best game
    .categories-best-game{
      margin: 20px 0;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .best-game{
        width: calc(1000px / 4);
        height: 110px;

        background: silver;
        border-radius: 10px;
      }
    }

    // categories game
    .categories-game{
      margin: 20px 0;
      padding: 20px;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2vw;
      .categories{
        width: 366px;
        height: 366px;

        border-radius: 10px;
        background: silver;
      }
    }
  }
}
