@import '../../variables.scss';

header{
  width: 100%;
  // position: fixed;
  background-color: $backgroundGarnetColorHeader;
  z-index: 99;
  position: relative;
  top: 0;
  left: 0;
  .wrapper-header{
    height: 100%;

    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      width: 50px;
      height: 50px;
      border-radius: 50px;
  
      background-color: aliceblue;
    }
    
    .nav-menu{
      ul{
        display: flex;
        li{
          margin: 0 20px;
        }
      }
    }
  
    .avatar{
      width: 50px;
      height: 50px;
      border-radius: 50px;
  
      background-color: aliceblue;
    }
  }
}